*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #A9D8FF;
    height: 122px;
    display: flex;
    align-items: center;
    padding: 10px;
}
#logo{
    width: 125px;
    height: 87px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 808px;
}

.map{
    height: 592px;
    width: 862px;
    background-image: url(./assets/saopaulo.png);
}