body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map{
    height: 592px;
    width: 862px;
    background-image: url(./assets/saopaulo.png);
}