*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #A9D8FF;
    height: 122px;
    display: flex;
    align-items: center;
    padding: 10px;
}
#logo{
    width: 125px;
    height: 110px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 808px;
}

.map{
    position: relative;
    height: 592px;
    width: 862px;
    background-image: url(./assets/saopaulo.png);
}
.ponto{
    width: 27px;
    height: 27px;
    /* background-color: #36DB36; */
    border: 1px solid black;
    border-radius: 100px;
    position:absolute;
    right: 25%;
    bottom:28%;
}